# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
backend/venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Node.js / React
frontend/node_modules/
frontend/dist/

# Python cache
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/